@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  font-family: "Sansita Swashed", cursive;
  font-size: 1rem;
  line-height: 1.5;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #c49999;
  color: #000;
  margin: 0;
  padding: 0;
}

.skip-links > li::before {
  content: none; /* Remove the bullets if nice lists is selected */
}

.skip-links a,
.skip-links button {
  padding: .5em .75em;
  position: absolute;
  top: -10em;
  z-index: 10000; /* To make sure they're always on top */
  background-color: #000;
  border: 0;
  color: #000;
  font-size: 1.125rem;
  font-weight: bold;
  text-decoration: none;
}

.skip-links a:focus,
.skip-links button:focus {
  outline-offset: 3px;
  top: 0;
}

img {
  width: 100%;
}

header {
  margin: 0;
}

.nav-small {
  float: right;
  margin-right: .5rem;
}

.banner-content {
  font-weight: bold;
  text-align: center;
  overflow: hidden;
}

.banner-head {
  font-weight: 900;
  font-size: 2rem;
}

.i-200 {
  height: 280px;
  width: 280px;
  overflow: hidden;
}

h1 {
  margin: 0;
  padding-bottom: 1rem;
  padding-left: .5rem;
}

nav a {
  font-weight: bold;
  color: #000;
  text-decoration: none;
  list-style-type: none;
}

.logo {
  text-align: left;
  display: inline-block;
}

.highlight {
  margin: auto;
  line-height: 1.6;
  color: #000;
  background-color: #fff;
}

.icon {
  display: inline-block;
  position: relative;
  background: transparent none no-repeat center center;
  background-size: contain;
  vertical-align: middle;
}

.icon img,
.icon svg {
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  fill: currentColor;
}

.i-64 {
  height: 60px;
  width: 60px;
}

.icon-link,
.icon-link:focus,
.icon-link:hover {
  text-decoration: none;
}

.dropdown {
  position: absolute;
  top: 1.4rem;
  left: 50%;
  right: 20%;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 3rem;
  right: .1px;
  background-color: #000;
  min-width: 75px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .5);
  z-index: 1;
}

.underline {
  padding: .3rem;
  border-bottom: 4px solid #000;
}

.dropdown-content a {
  float: none;
  color: #fff;
  padding: 8px 15px;
  text-decoration: none;
  display: none;
  text-align: left;
  display: block;
}

.dropdown-content a:hover {
  color: #000;
  background-color: #fff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.scroll, .arrow-down {
  padding: 0;
  margin: 0;
}

.scroll, a {
  color: #000;
  text-decoration: none;
}

.space-after {
  padding-bottom: 1rem;
}

h3, .projects-content, h5 {
  color: #000;
}

.i-48 {
  height: 48px;
  width: 48px;
}

.i-47 {
  height: 35px;
  width: 40px;
}

.i-96 {
  height: 50px;
  width: 50px;
}

.current-projects, .about-me {
  background-color: #fff;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  text-align: center;
  padding: 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: auto auto;
  justify-content: center;
  grid-gap: .5rem;
  text-align: center;
}

.serv {
  grid-gap: 1rem;
  grid-row-gap: 2rem;
}

h4, h3 {
  font-weight: bolder;
}

.title-width {
  width: 8em;
}

p {
  font-weight: normal;
  padding: 0;
  margin: 0;
}

footer, h4 {
  color: #000;
  font-size: .5rem;
  text-align: center;
}

.quotes {
  text-align: left;
  color: #000;
  width: 20em;
  margin: auto;
}

.btn-banner {
  background-color: #fff;
  border: 2px solid #c49999;
  border-radius: 13px;
  color: #000;
  overflow: hidden;
}

.btn-banner:hover,
.btn-banner:focus {
  background-color: #c49999;
  border: 2px solid #fff;
  color: #fff;
}

.btn-banner-blue {
  background-color: #fff;
  border: 2px solid #99afc4;
  border-radius: 13px;
  color: #000;
  padding: .6rem;
  overflow: hidden;
}

.btn-banner-blue:hover,
.btn-banner-blue:focus {
  background-color: #99afc4;
  border: 2px solid #fff;
  color: #fff;
}

.services {
  background-color: #fff;
}

.services-content {
  color: #000;
}

.i-192 {
  height: 70px;
  width: 70px;
}

.i-193 {
  height: 70px;
  width: 90px;
}

.i-205 {
  height: 320px;
  width: 280px;
}

.about-content {
  margin: auto;
  text-align: left;
  font-size: .8rem;
  max-width: 25em;
  font-family: "Noto Sans JP", sans-serif;
}

.fixed-2 {
  border: 3px solid #000;
  border-radius: 8px;
}

.projects {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.projects::before, .projects::after {
  content: "";
  border-top: 2px solid;
  margin: 0 20px 0  0;
  flex: 1 0 20px;
}

.projects::after {
  margin: 0 0 0 20px;
}

.purple {
  background-color: #9ca4ce;
}

.project {
  background-color: #fff;
  text-align: center;
  padding: 1rem;
}

footer {
  font-family: "Noto Sans JP", sans-serif;
}

@media only screen and (min-width: 25em) {

  .i-205 {
    height: 340px;
    width: 340px;
  }

  .img-flex {
    display: inline-block;
  }

  .i-200 {
    height: 260px;
    width: 260px;
  }

}

.section {
  background-color: black;
  padding: 1rem;
}

.blue {
  background-color: #99afc4;
}

@media only screen and (min-width: 38em) {

  .banner {
    position: relative;
  }

  .fixed {
    position:sticky;
    left: 15%;
  }

  .i-205 {
    height: 280px;
    width: 280px;
    float: right;
    margin-right: 1rem;
  }

  .about-content {
    font-size: .7rem;
    margin-left: 0;
  }


  .i-48 {
    height: 35px;
    width: 35px;
  }

  .i-200 {
    height: 280px;
    width: 280px;
  }

  .web-nav {
    display: flex;
    justify-content: flex-end;
    float: right;
    padding: 1rem;
  }

  ul {
    display: grid;
    grid-template-columns: 90px 90px 90px 90px 90px 90px;
    justify-content: center;
    grid-gap: .5rem;
    text-align: center;
  }

  .serv {
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: auto auto;
    justify-content: center;
  }

  .nav a:hover {
    padding: .3rem;
    color: #000;
    background-color: #fff;
    border-bottom: 4px solid #fff;
  }

  .highlight {
    max-width: 400px;
  }

  .quotes {
    text-align: left;
    color: #000;
    width: 30em;
    margin: auto;
  }

  .copyright {
    font-weight: 300;
    font-style: normal;
  }

}

@media only screen and (min-width: 60em) {

  .i-205 {
    height: 440px;
    width: 440px;
  }

  .about-content {
    font-size: 1rem;
  }

  .banner-head {
    font-weight: 900;
    font-size: 2.5rem;
  }

  .i-96 {
    height: 60px;
    width: 60px;
  }

  .serv {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px 150px;
    justify-content: center;
  }

  .i-200 {
    height: 300px;
    width: 300px;
  }

  .i-192 {
    height: 100px;
    width: 100px;
  }

  .i-193 {
    height: 100px;
    width: 130px;
  }

}

@media only screen and (min-width: 90em) {

  .i-200 {
    height: 330px;
    width: 330px;
  }

}
