@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  font-family: 'Sansita Swashed', cursive;
  line-height: 1.5;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  margin: 0;
  margin-right: 1rem;
}
.nav-small{
  float: right;
  margin-right: .5rem;
}

ul {
  list-style-type: none;
}

p {
  font-weight: 300;
}

h1 {
  margin: 0;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.highlight {
  margin: auto;
  line-height: 1.6;
  color: #C49999;
  max-width: 200px;
  background-color: #fff;
  background-image: linear-gradient(to right, #ffff 0%, #fff 100%);
}

.skip-links > li::before {
  content: none; /* Remove the bullets if nice lists is selected */
}

.skip-links a,
.skip-links button {
  padding: .5em .75em;
  position: absolute;
  top: -10em;
  z-index: 10000; /* To make sure they're always on top */
  background-color: #000;
  border: 0;
  color: #fff;
  font-size: 1.125rem;
  font-weight: bold;
  text-decoration: none;
}

.skip-links a:focus,
.skip-links button:focus {
  outline-offset: 3px;
  top: 0;
}

body {
  background-color: #C49999;
  color: #fff;
  margin: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  list-style-type: none;
}

.logo {
  text-align: left;
  display: inline-block;
}

.web-nav {
  display: grid;
  margin-top: .8rem;
  grid-template-columns: auto 100px 50px 50px 60px;
  columns: 1;
  text-align: right;
}

.icon {
  display: inline-block;
  position: relative;
  background: transparent none no-repeat center center;
  background-size: contain;
  vertical-align: middle;
}

.icon img,
.icon svg {
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  fill: currentColor;
}

.i-64 {
  height: 64px;
  width: 64px;
}

.icon-link,
.icon-link:focus,
.icon-link:hover {
  text-decoration: none;
}

.dropdown {
  float: right;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: .1rem;
  background-color: #fff;
  min-width: 75px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  z-index: 1;
}

.underline {
  padding: .3rem;
  border-bottom: 4px solid #fff;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 8px 15px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #C49999;
  border: 2px solid #fff;
  color: #fff;
}

.nav a:hover {
  padding: .3rem;
  color:#24457C;
  background-color: #fff;
  border-bottom: 4px solid #fff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.scroll,.arrow-down  {
  padding: 0;
  margin: 0;
}

.scroll, a {
font-size: 1.5rem;
color: #fff;
font-weight: bold;
text-decoration: none;

}

.space-after {
  padding-bottom: 3rem;
}

.scroll-note {
  padding: 0;
  margin: 0;
  line-height: 1pt;
}

.banner {
  margin: auto;
}

.current-projects {
  background-color: #fff;
}

img {
  width: 100%;
}

h3, .projects-content{
  color: #C49999;
}

.i-48 {
  height: 48px;
  width: 48px;
}

.i-96 {
  height: 96px;
  width: 96px;
}

ul {
  display: grid;
  grid-template-columns:  auto auto auto auto  auto  auto;
  grid-gap: 1rem;
  text-align: center;
}

.i-128 {
  height: 128px;
  width: 128px;
}

.services {
  background-color: #fff;
}

h4 {
  color: #fff;
}

h5 {
  color: #C49999;
}


.btn-banner {
  background-color: #045fa2;
  border-color: #e8be3b;
  border-radius: 13px;
  color: #fff;
}

.btn-banner:hover,
.btn-banner:focus {
  background-color: #fff;
  border-color: #045fa2;
  color: #045fa2;
}
@media only screen and (min-width: 38em) {

  .highlight {
    max-width: 400px;
  }

}
